/* Genel stil ayarları */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Başlık stili */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4CAF50;
}

/* Dropdown menü stili */
label {
    font-size: 1.2em;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s;
    margin-bottom: 20px;
}

select:hover, select:focus {
    border-color: #388E3C;
    outline: none;
}

/* İndir butonu stili */
#download-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 20px;
}

#download-button:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

/* Tablo stili */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Modal stil */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#apply-date-range {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

#apply-date-range:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}